@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* global.css */

/* Définir les couleurs de base */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0070f3;
}

.dark {
  --background-color: #121212;
  --text-color: #eaeaea;
  --primary-color: #0099ff;
}

/* Application des variables CSS */
@layer base {
  :root {
    --color-background: var(--background-color);
    --color-foreground: var(--text-color);
  }
  .dark {
    --color-background: var(--background-color);
    --color-foreground: var(--text-color);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

/* Définition propre de bg-dark en tant qu'utilitaire Tailwind */
@layer utilities {
  .bg-dark {
    background-color: var(--color-background);
  }
}

/* Animation */
.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-enter-active {
  opacity: 1;
}
