DATA_FOLDER=/var/lib/fti/triage/data
AGENCY_DATA=/var/lib/fti/triage/agency.json

# OPENID CONFIGURATIONS
OPENID_ENDPOINT_CONFIGURATION=https://${subdomain}.ats-ibis.com/auth/realms/triage/.well-known/openid-configuration
OPENID_CLIENT_ID=triage-client
OPENID_CLIENT_SECRET=${client_secret}

# DATABASE CONFIGURATIONS
DB_HOST=triage-db
DB_PORT=1475
DB_USERNAME=bgpats
#DB_PASSWORD=W3Th3N0rth!
DB_PASSWORD=nPqed$pn0p
DB_NAME=ats
